@model IEnumerable<_3dSessionMonitorWebApp.location>

@{
    ViewBag.Title = "Available Instance";
}

<h2>Available Instance in Setup</h2>

<p>Available Instances</p>

<table class="table">
    <tr>
        <th>
            Location Name
        </th>
        <th>
            description
        </th>
        <th>
            Creation Time Stamp
        </th>        
        <th>
            Device/HUNA Instance Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationTimestamp)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.setup.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<hr />

<div>
    <a href="@Url.Action("Index", "Setup")">Back to Setup</a>
    
</div>