@model _3dSessionMonitorWebApp.setup

@{
    ViewBag.Title = "Details";
}

<h2>Setup Configuration of @Html.DisplayFor(model => model.name)</h2>

<div>
    <h4>Setup details</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creationTimestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationTimestamp)
        </dd>

    </dl>
    <hr />
    <dl class="dl-horizontal"> 
        <a class="btn btn-default" href="@Url.Action("AddInstance", "Location", new { id = Model.id })">Attach Instances To Setup &raquo;</a> |
        <a class="btn btn-default" href="@Url.Action("AvailableInstance", "Location", new { id = Model.id })">See Available Instances In this Setup &raquo;</a>
    </dl>
    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
