@model _3dSessionMonitorWebApp.messagelog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>messagelog</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.externalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.externalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
