@model IEnumerable<_3dSessionMonitorWebApp.messagelog>

@{
    ViewBag.Title = "Index";
}

<h2>HUNA Message Log</h2>

<p>
   This list contains all the messages that have been received from all HUNA INSTANCE.
</p>
<table class="table">
    <tr>
        <th>
            HUNA IP/Unique ID
            <!--Html.DisplayNameFor(model => model.externalID)-->
        </th>
        <th>
            Log Time
            <!--Html.DisplayNameFor(model => model.timestamp)-->
        </th>
        <th>
            Message Type
            <!--Html.DisplayNameFor(model => model.dataType)-->
        </th>
        <th>
            Message
            <!--Html.DisplayNameFor(model => model.data)-->
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.externalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
