@model IEnumerable<_3dSessionMonitorWebApp.session>

@{
    ViewBag.Title = "Index";
}

<h2>Session Manager</h2>

<p>
    @Html.ActionLink("Start New Session", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Session Name
        </th>
        <th>
           Description
        </th>
        <th>
            Start Time
        </th>
        <th>
           End Time
        </th>
        <th>
            Is Active
        </th>
        <th>
            Using setup
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.setup.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
