@model _3dSessionMonitorWebApp.sessiondata

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>sessiondata</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.sessionId, "sessionId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sessionId", String.Empty)
                @Html.ValidationMessageFor(model => model.sessionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.instanceId, "instanceId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("instanceId", String.Empty)
                @Html.ValidationMessageFor(model => model.instanceId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataType)
                @Html.ValidationMessageFor(model => model.dataType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data)
                @Html.ValidationMessageFor(model => model.data)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataBlob, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataBlob)
                @Html.ValidationMessageFor(model => model.dataBlob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.timeStamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.timeStamp)
                @Html.ValidationMessageFor(model => model.timeStamp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.processedData, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.processedData)
                @Html.ValidationMessageFor(model => model.processedData)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
