@model IEnumerable<_3dSessionMonitorWebApp.sessiondata>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dataType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataBlob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.processedData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instance.externalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.session.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dataType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataBlob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.processedData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instance.externalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.session.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
